.product-item {
  padding: 10px;
  margin: 0px 20px;
}

.intro {
  height: 100%;
}

.card-body {
  max-height: 750px;
  overflow: auto;
}

thead {
  position: sticky;
  top: 0;
}

.table-position {
  margin-top: 50px;
}
.card {
  border-radius: 0.5rem;
}
