.sidebar-wrapper {
  width: 300px;
  background: #326458;
  .sidebar-list {
    display: flex;
    flex-direction: column;
    .category-item {
      color: white;
      height: 50px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: left;
      padding-left: 20px;
      &:hover {
        background: #2f89fc;
      }

      &-active {
        font-weight: 700;
      }
    }
  }
}